@model EditProjectModel


 @* <div id="projects">  *@

<div id="addMemberToProjectModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add Member to Project</h3>
            <button type="button" class="button-close" data-close="true"></button>
        </div>

 		<form asp-controller="Projects" asp-action="Add" method="post" class="js-form" novalidate> 

 			<input type="hidden" asp-for="Id" /> 
 			<input type="hidden" name="SelectedMemberIds" id="SelectedMemberIds" /> 


 			<div class="form-group"> 

 				<div class="form-label">Members</div> 


 				<div id="tagged-users" class="form-input form-tag-select"> 
 					<input type="text" id="user-search" class="form-tag-input" placeholder="Add member" /> 
 					<label for="user-search" class="fa-solid fa-ellipsis"></label> 
 					<div id="user-search-results" class="search-results"></div> 
 				</div> 



 			</div> 

 			<button type="submit" class="button btn-submit">Save</button>
 		</form> 

 	</div> 
</div>

 @* </div>  *@

 <script> 
     document.addEventListener('DOMContentLoaded', () => {
            const preSelectedMembers = []

        initTagSelector({
            containerId: 'tagged-users',
            inputId: 'user-search',
            resultsId: 'user-search-results',
            searchUrl: (query) => '@Url.Action("SearchMembers", "Member")' + '?term=' + encodeURIComponent(query),
            displayProperty: 'fullName',
            imageProperty: 'imageUrl',
            tagClass: 'user-tag',
            avatarFolder: '/images/members',
            emptyMessage: 'No members found.',
            preselected: preSelectedMembers,
            selectedInputIds: 'SelectedMemberIds'
        })
     })

 </script> 