
<div class="surface-20">

    <div class="align-right">
        <a><i class="fa-duotone fa-solid fa-colon fa-rotate-90" style="--fa-secondary-opacity: 1;"></i></a>
    </div>

    <form class="project-form-container text-center">

        <div id="circle-container" class="image-preview-container flex">
            <img id="image-preview" src="" alt="Profile picture" />
        </div>

        <h4>FirstName LastName</h4>
        <p class="job-title-container">JobTitle</p>
        <p class="mt-4">EmailAddress</p>
        <p class="mt-2">PhoneNumber</p>
        <button class="button btn-gray mt-4">Message</button>
    </form>
</div>