<div class="surface-20">

    <div class="align-right">
        <img src="/images/options.svg" />
    </div>

    <form class="project-form-container text-center">

        <div class="image-container circle">
            <img id="image-preview" src="/images/avatar_1.svg" />
        </div>

        <h4>Firstname Lastname</h4>
        <p class="job-title-container">Chief Executive Officer</p>
        <p class="mt-4">name@domain.se</p>
        <p class="mt-4">+46 070 123 45 67</p>
        <button class="button btn-gray mt-4">Message</button>
    </form>
</div>