@await Html.PartialAsync("Partials/Components/_ProfileModal")

<input class="main-input" placeholder="&#xf002; Search anything..." style="font-family: Nunito, FontAwesome;">
<div class="flex">

    @await Component.InvokeAsync("Notification")

    <button id="profile-dropdown-button" data-type="dropdown" data-target="#profile-dropdown" class="fa-duotone fa-solid fa-gear cursor" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></button>

</div>
<div class="p-1">
    <img class="profile-avatar" src="~/images/avatar-standard.svg" alt="Profile picture" />
</div>