@model ProjectModel

<div class="card">

    <div class="project-card-header">

        <div>
            <img src="~/images/AlphaLogo.svg" alt="Project logo">
        </div>

        <div>
            <h6>@Model.ProjectName</h6>
            <p>@Model.Client.ClientName</p>
        </div>


        <a><i class="fa-duotone fa-solid fa-colon fa-rotate-90 cursor" style="--fa-secondary-opacity: 1;" data-modal="true" data-target="#editProjectModal"></i></a>

    </div>

    <div>
        <p>@Model.Description</p>
    </div>

    <div class="project-card-footer">
        <div class="time-wrapper">
            <i class="fa-duotone fa-solid fa-clock"></i>
            <p>1 week left</p>
        </div>

        <img src="~/images/avatar-standard.svg">
    </div>

</div>