
<div id="profile-dropdown" class="profile-dropdown">
    <div class="profile-content">

        <div>
            <img class="profile-avatar" src="~/images/avatar-standard.svg" alt="Profile picture" />
            <p>Firstname Lastname</p>
        </div>

        <div>
            <a><i class="fa-duotone fa-solid fa-gear" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i></a>
            <label for="darkModeToggle" class="dark-mode-label">Dark mode</label>
            <label class="switch">
                <input type="checkbox" id="darkModeToggle" data-type="toggle"/>
                <span class="slider"></span>
            </label>
        </div>

        <div>
            <i class="fa-duotone fa-solid fa-arrow-right-from-bracket"></i>
            <a asp-controller="Auth" asp-action="SignOut">Logout</a>
        </div>

    </div>
</div>