@model AddClientModel

<div id="addClientModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Add Client</h3>
			<button type="button" class="button-close" data-close="true"></button>
		</div>

        <form method="post" asp-controller="Client" asp-action="AddClient" class="js-form" novalidate>

            <div id="image-preview-add-client-modal-container" class="image-preview-container circle">
                <img src="#" id="image-preview-add-client-modal" class="image-preview d-none" />
                <input asp-for="ClientImage" accept="image/*" class="d-none"/>
			</div>

            <div class="form-group">
                <label asp-for="ClientName" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="ClientName" class="form-input" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Email" class="form-input" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Location" class="form-input" />
                    <span asp-validation-for="Location"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Phone" class="form-input" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="error-message"></div>

            <button type="submit" class="button btn-blue mt-4">Create</button>
		</form>
	</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        handleImagePreview({
            containerId: 'image-preview-add-client-modal-container',
            imagePreview: 'image-preview-add-client-modal'
        })
    })
</script>