<div id="deleteMemberModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Delete Member</h3>
            <button type="button" class="button-close" data-close="true"></button>
        </div>

        <form method="post" asp-controller="Member" asp-action="DeleteMember" class="js-form" novalidate onsubmit="return false">

            <input name="id" id="delete-member-id" readonly type="hidden" />
            <p>Are you sure you want to delete the member <strong id="delete-member-name"></strong>?</p>

            <div id="error-message" class="error-message"></div>

            <div class="flex">
                <button type="submit" class="button btn-red mt-4">Delete</button>
                <button type="button" class="button mt-4" data-close="true">Cancel</button>
            </div>

        </form>
    </div>
</div>