@model EditProjectModel


<div id="editProjectModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Edit Project</h3>
            <button type="button" class="button-close" data-close="true"></button>
        </div>

        <form class="project-form-container js-form" method="post" asp-controller="Projects" asp-action="EditProject" enctype="multipart/form-data" novalidate>
            <input asp-for="Id" readonly type="hidden" />


            <div id="image-preview-edit-project-modal-container" class="image-preview-container square">
                <input type="hidden" asp-for="ExistingImage" />
                <img src="#" id="image-preview-edit-project-modal" class="image-preview d-none" />
                <input asp-for="ProjectImage" accept="image/*" class="d-none" />
            </div>

            <div class="form-group">
                <label asp-for="ProjectName" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SelectedClientId" class="form-label"></label>
                <select asp-for="SelectedClientId" asp-items="@Model.Clients" required>
                    <option value="" class="form-input" disabled selected></option>
                </select>
                <span asp-validation-for="SelectedClientId"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <div class="wysiwyg">
                    <textarea asp-for="Description" id="edit-project-description" class="d-none"></textarea>
                    <div id="edit-project-description-wysiwyg-editor" class="wysiwyg-editor"></div>
                    <div id="edit-project-description-wysiwyg-toolbar" class="wysiwyg-toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>

                        <span class="ql-formats">
                            <button class="ql-align" value=""></button>
                            <button class="ql-align" value="center"></button>
                            <button class="ql-align" value="right"></button>
                        </span>

                        <span class="ql-formats">
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-list" value="ordered"></button>
                        </span>

                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </div>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="flex mt-4">
                <div class="form-group">
                    <label asp-for="StartDate" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="StartDate" type="date"/>
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate" class="form-label"></label>
                    <div class="field-group">
                        <input asp-for="EndDate" type="date" value="@(Model.EndDate.HasValue && Model.EndDate.Value != DateTime.MinValue ? Model.EndDate.Value.ToString("yyyy-MM-dd") : "")" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">

                <input type="hidden" name="SelectedMemberIdsEdit" id="SelectedMemberIdsEdit" />

                <label class="form-label" asp-for="SelectedMemberIdsEdit"></label>

                <div id="tagged-users-edit" class="form-input field-group">

                    <input id="user-search-edit" type="text" class="form-tag-input form-tag-select form-input" placeholder="Add member" />
                    <label for="user-search-edit" class="fa-regular fa-magnifying-glass-waveform"></label>

                    <div id="user-search-results-edit" class="search-results"></div>
                    <span asp-validation-for="SelectedMemberIdsEdit"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Budget" class="form-label"></label>
                <div class="field-group budget-input-wrapper">
                    <input asp-for="Budget" class="budget-input" type="number" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SelectedStatusId" class="form-label"></label>
                <select asp-for="SelectedStatusId" asp-items="@Model.Statuses" required>
                    <option value="" class="form-input" disabled selected></option>
                </select>
                <span asp-validation-for="SelectedStatusId"></span>
            </div>

            <div class="error-message"></div>

            <button type="submit" class="button btn-blue mt-4">Save</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        handleImagePreview({
            containerId: 'image-preview-edit-project-modal-container',
            imagePreview: 'image-preview-edit-project-modal'
        })
    })
</script>