@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="client-list">
    <table>
        <thead>
            <tr>
                <th class="client-check"><input type="checkbox" /></th>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-status">Status</th>
                <th class="client-actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="client-check"><input type="checkbox" /></td>
                <td class="client-info">
                    <img class="client-image" src="~/images/avatar-standard.svg" alt="" />
                    <div class="client-name">EPN Sverige AB</div>
                    <div class="client-email">info@domain.com</div>
                </td>
                <td class="client-location">Stockholm, Sweden</td>
                <td class="client-phone">+46 070 123 45 67</td>
                <td class="client-date">25-03-12</td>
                <td class="client-status">
                    <div class="badge success">
                        active
                    </div>
                </td>
                <td class="client-actions">
                    <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#editClientModal"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>