@model IEnumerable<ClientModel>

<div class="client-list">
    <table>
        <thead>
            <tr>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-actions"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                @await Html.PartialAsync("Partials/Components/Cards/_ClientCard", client);
            }
        </tbody>
    </table>
</div>