@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /*    colors*/
    --white: #fff;
    --white-100: #f7f6f6;
    --white-200: #F1F3F7;
    --gray-100: #F5F7Fa;
    --gray-200: #F0F1F5;
    --gray-300: #E8EAED;
    --gray-400: #e3e5e8;
    --gray-500: #dedede;
    --gray-600: #c6c8cc;
    --gray-700: #9e9e9e;
    --gray-800: #637085;
    --gray-dark: #1A1926;
    --gray-dark-transperant: #38383b8c;
    --clr-dark-100-60: #33333399;
    --yellow-light: #fae17e;
    --yellow-dark: #FCBB42;
    --red-light: #faddd6;
    --red-dark: #E94D3F;
    --red-transperant: #FF66401F;
    --blue-light: #8ab9e5;
    --blue-dark: #2D7DCC;
    --green-light: #d6f7e6;
    --green-dark: #24B26B;
    --clr-accent: #2D99FF;
    --clr-accent-10: #2d99ff1a;
    --clr-dark-accent: #2682D9;
    /*    backgrounds*/
    --clr-surface: var(--white);
    --clr-bg-card: var(--white);
    --clr-bg: var(--white-200);
    --clr-bg-dropdown: var(--white-100);
    --clr-bg-transparent: #1a1a1a4d;
    --dropdown-hover-color: var(--gray-200);
    --table-header-bg: var(--gray-100);
    --surface-shadow: var(--gray-100);
    /*      borders*/
    --clr-border-100: var(--gray-200);
    --clr-border-200: var(--gray-400);
    --clr-border-300: var(--gray-600);
    --clr-border-blue-btn: var(--white);
    --clr-divider: var(--gray-300);
    --clr-border-accent: var(--gray-400);
    /*    buttons*/
    --btn-gray-bg: var(--gray-100);
    --btn-gray-bg-hover: var(--gray-200);
    --delete-button: var(--gray-200);
    /*    badges*/
    --clr-badge-standard: var(--gray-100);
    --clr-badge-warning: var(--yellow-light);
    --clr-badge-error: var(--red-light);
    --clr-badge-info: var(--blue-light);
    --clr-badge-success: var(--green-light);
    /*    text*/
    --clr-text-light: var(--gray-700);
    --clr-text-medium-light: var(--gray-800);
    --clr-text-warning: var(--yellow-dark);
    --clr-text-error: var(--red-dark);
    --clr-text-info: var(--blue-dark);
    --clr-text-success: var(--green-dark);
    --clr-error: var(--red-dark);
    --clr-text-color: var(--gray-dark);
    /*    navlinks*/
    --navlink-text-color: var(--text-color);
    --navlink-text-hover-color: var(--clr-accent);
    --navlink-text-active-color: var(--clr-accent);
    --navlink-bg-color: transparent;
    --navlink-bg-hover-color: var(--clr-accent-10);
    --navlink-bg-active-color: var(--clr-accent-10);
    /*    tags*/
    --tag-bg: var(--gray-200);
    --font-standard: "Nunito", sans-serif;
    --font-logo: "Comfortaa", sans-serif;
    --font-fa-pro: "Font Awesome 6 Pro";
    --font-fa-free: "Font Awesome 6 Free";
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    --size-tablet: 768px;
    --size-desktop: 1400px;
}

.dark-theme {
    /*    backgrounds*/
    --clr-bg: #1A1926;
    --clr-bg-card: #21202e;
    --clr-surface: #21202e;
    --clr-bg-dropdown: var(--clr-bg);
    --dropdown-hover-color: var(--clr-accent-10);
    --table-header-bg: var(--clr-accent-10);
    --surface-shadow: var(--clr-accent-10);
    /*    borders */
    --clr-border-accent: var(--clr-dark-accent);
    --clr-border-100: var(--clr-accent-10);
    --clr-border-200: var(--clr-accent-10);
    --clr-border-blue-btn: var(--blue-dark);
    --clr-divider: var(--clr-accent-10);
    /*    buttons*/
    --btn-gray-bg: var(--clr-accent-10);
    --btn-gray-bg-hover: var(--gray-dark);
    --delete-button: var(--gray-600);
    /*    badges*/
    --clr-badge-standard: var(--gray-dark-transperant);
    --clr-badge-error: var(--red-transperant);
    /*    text*/
    --clr-text-color: var(--gray-100);
    --clr-text-error: var(--red-dark);
    --clr-text-medium-light: var(--gray-300);
    /*    navlinks*/
    --navlink-text-color: var(--text-color);
    /*    tags*/
    --tag-bg: var(--clr-accent-10);
}


/* BASE */
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 16px;
    font-family: var(--font-standard);
    font-weight: var(--font-regular);
    line-height: 1;
    background-color: var(--clr-bg);
    color: var(--clr-text-color);
}


/* TYPOGRAPHY */
h1 {
    font-family: var(--font);
    font-size: 2.25rem;
    font-weight: var(--font-bold);
}

h2 {
    font-family: var(--font);
    font-size: 2rem;
    font-weight: var(--font-bold);
}

h3 {
    font-family: var(--font);
    font-size: 1.75rem;
    font-weight: var(--font-bold);
}

h4 {
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: var(--font-semibold);
}

h5 {
    font-family: var(--font);
    font-size: 1.25rem;
    font-weight: var(--font-semibold);
}

h6 {
    font-family: var(--font);
    font-size: 1.125rem;
    font-weight: var(--font-semibold);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0;
    color: var(--clr-text-color);
}

a {
    text-decoration: none;
}

label {
    color: var(--clr-text-color);
}


.text-logo {
    color: var(--clr-text-color);
    font-family: var(--font-standard);
}
/*STRUCTURE*/
.portal {
    display: grid;
    grid-template-columns: minmax(3rem, 17rem) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'logo navbar'
                         'sidebar mainSection';
    height: 100dvh;
}

    .portal > .logotype {
        grid-area: logo;
        padding: 1rem;
        border-right: .1rem solid var(--clr-border-200);
    }

    .portal > .navbar {
        grid-area: navbar;
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 1fr auto auto;
        border-bottom: .1rem solid var(--clr-border-200);
        gap: 2rem;
        align-items: center;
    }

    .portal > .sidebar {
        grid-area: sidebar;
        padding: 1rem;
        border-right: .1rem solid var(--clr-border-200);
    }

    .portal > .main-section {
        grid-area: mainSection;
        padding: 2rem;
    }

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.surface {
    background-color: var(--clr-surface);
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 15px 3px -10px var(--surface-shadow);
}

.surface-20 {
    background-color: var(--clr-surface);
    padding: 2rem;
    width: 100%;
    max-width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: 0 15px 3px -10px var(--surface-shadow);
    position: relative;
}

.surface-35 {
    background-color: var(--clr-surface);
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 0 15px 3px -10px var(--clr-border-100);
    width: 100%;
    max-width: 35rem;
}


/*SECTIONS*/
.member-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 3rem;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.admin-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

/*DISPLAY AND SPACING*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.flex-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
    text-align: center;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.align-right {
    display: flex;
    justify-content: end;
}

.grid {
    display: grid;
}

.p-1 {
    padding: 1rem !important;
}

.pt-1 {
    padding-top: 1rem;
}

.p-l-r-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.cursor {
    cursor: pointer;
}

.hide {
    display: none;
}

/*STATUSES*/
.normal {
    background-color: var(--clr-badge-standard) !important;
    color: var(--clr-text-light) !important;
}

.success {
    background-color: var(--clr-badge-success) !important;
    color: var(--clr-text-success) !important;
}

.warning {
    background-color: var(--clr-badge-warning) !important;
    color: var(--clr-text-warning) !important;
}

.error {
    background-color: var(--clr-badge-error) !important;
    color: var(--red-dark) !important;
}

.info {
    background-color: var(--clr-badge-info) !important;
    color: var(--clr-text-info) !important;
}


.dot {
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dot-red {
    background-color: var(--red-dark);
    border: 1px solid var(--clr-bg);
    position: absolute;
    top: -3px;
    right: -1px;
}



/*COMPONENTS*/
.alpha-logotype {
    font-size: 1.625rem;
    font-weight: var(--font-semibold);
    font-family: var(--font-logo);
    text-decoration: none;
    color: var(--clr-text-color);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
}

.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 9rem;
    height: 9rem;
    border: 2px dashed var(--clr-border-300);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

    .image-preview-container::after {
        content: '\f030';
        font-family: var(--font-fa-pro);
        font-weight: var(--font-bold);
        background-color: var(--clr-dark-100-60);
        color: var(--gray-500);
        padding: 1rem;
        border-radius: 50%;
        position: relative;
        bottom: 0;
    }

    .image-preview-container.selected::after {
        content: '\f044';
        position: absolute;
        bottom: 5px;
        color: var(--gray-200);
    }

    .image-preview-container.circle {
        border-radius: 50%;
    }
        .image-preview-container.circle .image-preview {
            height: 9rem;
            width: 9rem;
            overflow: hidden;
        }

    .image-preview-container.square {
        border-radius: 1rem;
    }
        .image-preview-container.square .image-preview {
            height: 9rem;
            width: 9rem;
            overflow: hidden;
        }

    .image-preview-container.borderless {
        border: none;
    }

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem auto 1.2rem auto;
    width: 9rem;
    height: 9rem;
}

    .image-container.circle {
        border-radius: 50%;
    }

        .image-container.circle .image-preview {
            height: 9rem;
            width: 9rem;
            overflow: hidden;
        }

    .image-container.square {
        border-radius: 1rem;
    }

        .image-container.square .image-preview {
            height: 9rem;
            width: 9rem;
            overflow: hidden;
        }

.job-title-container {
    background-color: var(--clr-badge-standard);
    color: var(--clr-text-color);
    border: none;
    border-radius: .5rem;
    font-size: .75rem;
    font-weight: var(--font-regular);
    font-family: var(--font-standard);
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.profile-avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.portal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}


.project-card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: .5rem;
    background-color: var(--clr-bg-card);
    padding: 1.3rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 15px 5px -10px var(--surface-shadow);
    height: 17rem;
    width: 22rem;
    position: relative;
}

    .project-card > * {
        margin: .5rem;
    }


.project-card-header {
    display: grid;
    grid-template-columns: 1fr 3fr .5fr;
    gap: 1rem;
}

    .project-card-header div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }


    .project-card-header a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-decoration: none;
        color: var(--clr-text-medium-light);
    }

.project-image-preview {
    height: 3.5rem;
    width: 3.5rem;
}

.project-card-footer {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: 2rem;
}
.project-card-footer .members-wrapper{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
    .project-card-footer .members-wrapper img{
        height: 2rem;
        width: 2rem;
    }

.project-statuses {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--clr-border-accent);
    gap: 2rem;
    padding: 1rem 0;
    font-weight: var(--font-semibold);
}
.project-status {
    cursor: pointer;
    color: var(--clr-text-light);
}

.project-status.focused {
    color: var(--clr-accent);
    font-weight: var(--font-bold);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-input {
    position: relative;
    background-color: var(--clr-bg);
    color: var(--clr-text-light);
    border: none;
    outline: none;
}

    .main-input:focus {
        border: none;
        outline: none;
    }



.admin-login-sidebar {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: flex-end;
}

    .admin-login-sidebar h1 {
        font-weight: bold;
        color: #fff;
    }

    .admin-login-sidebar span {
        font-weight: bold;
        color: #FF9640;
    }

    .admin-login-sidebar p {
        color: #fff;
    }

.background-blur-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.background-blur {
    background-image: url("/images/admin-login-bg.svg");
    background-color: #49099d;
    background-size: cover;
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.admin-login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg-card);
}

.admin-login-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 350px;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: var(--clr-divider);
}

/* MODALS */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    .modal .modal-content {
        background-color: var(--clr-bg-card);
        border: none;
        border-radius: 1rem;
        box-shadow: 0 4px 4px 3px rgba(196, 196, 196, 0.1);
        padding: 2rem;
    }

    .modal .modal-content .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
    }

#addClientModal .modal-content {
    width: 550px;
}

#editClientModal .modal-content {
    width: 550px;
}

#deleteClientModal .modal-content {
    width: 400px;
}

#addProjectModal .modal-content {
    width: 550px;
}

#editProjectModal .modal-content {
    width: 550px;
}

#deleteProjectModal .modal-content {
    width: 400px;
}

#addMemberToProjectModal .modal-content {
    width: 500px;
}

#addMemberModal .modal-content {
    width: 550px;
}

#editMemberModal .modal-content {
    width: 550px;
}

#deleteMemberModal .modal-content {
    width: 400px;
}


#cookieModal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

    #cookieModal .cookie-card {
        background-color: var(--clr-bg-card);
        display: flex;
        border-radius: 1rem;
        overflow: hidden;
        width: 60%;
        max-height: 600px;
    }

    #cookieModal .cookie-content {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        color: var(--gray-dark);
        gap: 3rem;
    }

    #cookieModal .cookie-settings {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        gap: 3rem;
        color: var(--gray-dark);
        background-color: var(--clr-dark-accent);
    }

.cookie-options {
    display: grid;
    gap: 1rem;
    padding: .5rem;
}

.delete-modal p {
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

.delete-buttons {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}


/*DROPDOWNS*/
#profile-dropdown-button {
    position: relative;
    border: none;
}

.profile-dropdown {
    background-color: var(--clr-bg-card);
    border-radius: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4.5rem;
    right: 6rem;
    box-shadow: 0 4px 4px 3px rgba(196, 196, 196, 0.1);
    z-index: 1000;
}
.profile-dropdown.show {
    display: block;
}

    .profile-dropdown .profile-content {
        background-color: var(--clr-bg-card);
        border: none;
        border-radius: 1rem;
        padding: .5rem;
        width: 20rem;
    }

        .profile-dropdown .profile-content > * {
            display: flex;
            gap: 1rem;
        }

            .profile-dropdown .profile-content > *:first-child {
                background-color: var(--dropdown-hover-color);
                border-radius: 1rem;
                padding: .5rem;
                align-items: center;
                justify-content: flex-start;
                font-weight: var(--font-semibold);
            }

                .profile-dropdown .profile-content > *:first-child img {
                    border: 1.5px solid white;
                    border-radius: 50%;
                }

            .profile-dropdown .profile-content > *:nth-child(2) {
                padding: 1rem;
                margin-top: .5rem;
                display: flex;
                align-items: center;
                margin-bottom: .5rem;
            }

                .profile-dropdown .profile-content > *:nth-child(2):hover {
                    background-color: var(--dropdown-hover-color);
                    border-radius: 1rem;
                }

            .profile-dropdown .profile-content > *:nth-child(4) {
                padding: 1rem;
                margin-top: .5rem;
                display: flex;
                align-items: center;
                margin-top: .5rem;
            }

            .profile-dropdown .profile-content > *:nth-child(4):hover {
                background-color: var(--dropdown-hover-color);
                border-radius: 1rem;
            }
            .profile-dropdown .profile-content > *:nth-child(4) a {
                text-decoration: none;
                color: var(--clr-text-color);
            }

#notification-dropdown-button {
    position: relative;
    border: none;
    cursor: pointer;
}

.notification-dropdown {
    background-color: var(--clr-bg-card);
    border-radius: 1rem;
    box-shadow: 0 4px 4px 3px rgba(196, 196, 196, 0.1);
    border: 1px solid var(--clr-border-100);
    padding: 1rem;
    position: absolute;
    top: 4.5rem;
    right: 8.5rem;
    min-width: 28rem;
    min-height: 9rem;
    z-index: 1000;
    display: none;
}

    .notification-dropdown.show {
        display: block;
    }

.notification-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--clr-text-heading);
    border-radius: .8rem;
    margin: .5rem;
    justify-content: space-between;
}

.notification-number {
    background-color: var(--red-dark);
    color: var(--gray-100);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .625rem;
}

.notification-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "img msg btn" "img time btn";
    cursor: pointer;
    border-radius: 1rem;
    column-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    transition: background-color .1s ease-in-out;
}

    .notification-item:hover {
        background-color: var(--dropdown-hover-color);
    }

    .notification-item .image {
        grid-area: img;
        height: 3rem;
        width: 3rem;
    }

    .notification-item .message {
        grid-area: msg;
    }

    .notification-item .time {
        grid-area: time;
        font-size: .8rem;
        color: var(--clr-text-medium-light);
    }

    .notification-item .btn-close {
        grid-area: btn;
        opacity: 0;
    }

    .notification-item:hover .btn-close {
        grid-area: btn;
        opacity: 1;
    }


.project-dropdown {
    position: absolute;
    display: none;
    top: 3rem;
    left: 4rem;
    z-index: 100;
}

.project-dropdown.show {
    display: block;
}

.edit-dropdown-container {
    border: 1px solid var(--clr-border-100);
    border-radius: 1rem;
    box-shadow: 0 15px 3px -10px var(--surface-shadow);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.edit-dropdown {
    width: 15rem;
    background-color: var(--clr-bg-dropdown);
    border-radius: 1rem;
    padding: .5rem;
}

    .edit-dropdown > *:nth-child(2) {
        margin-bottom: .5rem;
    }

    .edit-dropdown > *:nth-child(4) {
        margin-top: .5rem;
    }
        .edit-dropdown > *:nth-child(4) i, 
        .edit-dropdown > *:nth-child(4) i {
            color: var(--clr-text-error);
        }

        .edit-dropdown > *:nth-child(2) i,
        .edit-dropdown > *:nth-child(2) p,
        .edit-dropdown > *:first-child i,
        .edit-dropdown > *:first-child p {
            color: var(--clr-text-color);
        }

    .edit-dropdown > *:first-child:hover p,
    .edit-dropdown > *:nth-child(2):hover p,
    .edit-dropdown > *:first-child:hover i,
    .edit-dropdown > *:nth-child(2):hover i {
        color: var(--clr-accent);
    }
    .edit-dropdown > *:last-child:hover p{
        color: var(--clr-text-error);
    }

.edit-dropdown-item {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
}
    .edit-dropdown-item:hover {
        background-color: var(--clr-accent-10);
        color: var(--clr-accent);
        border-radius: 1rem;
    }

/*TABLES*/
table {
    width: 100%;
    border-collapse: collapse;
}

    table tr {
        display: grid;
        align-items: center;
        width: 100%;
        border-radius: 1rem;
        padding: 1rem;
    }

    table thead, table tbody {
        display: contents;
    }

        table thead > tr {
            background-color: var(--table-header-bg);
            color: var(--clr-text-color);
        }

        table tbody > tr {
            padding: .7rem 1rem;
            margin: .5rem 0;
            background-color: var(--clr-surface);
        }

            table tbody > tr:hover {
                background-color: var(--clr-accent-10);
            }

    table th, table td {
        width: 100%;
        padding: 0 1rem;
        text-align: left;
        color: var(--clr-text-color);
    }

        table td img {
            width: 48px;
            height: 48px;
        }


input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}

#clients {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

#projects {
    height: 100%;
}

.client-list {
    height: 90%;
}

    .client-list .client-info {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "image name" "image email";
        column-gap: 1rem;
        align-items: center;
    }

        .client-list .client-info .client-image {
            grid-area: image;
        }

        .client-list .client-info .client-name {
            grid-area: name;
        }

        .client-list .client-info .client-email {
            grid-area: email;
            color: var(--clr-text-light);
            font-weight: var(--font-semibold);
        }


    .client-list table tr {
        grid-template-areas: "info location phone date actions";
        grid-template-columns: 3fr 3fr 2fr 2fr 70px;
    }


/*FORMS*/
form {
    width: 100%;
}

form label {
    font-size: 1rem;
    font-weight: var(--font-semibold);
}

    form .form-group {
        display: grid;
        gap: .2rem;
        margin-bottom: 1.2rem;
        position: relative;
        width: 100%;
        text-align: left;
    }

    form .field-group {
        position: relative;
    }

    .form-input, .form-select, .form-textarea {
        width: 100%;
        font-size: 1em;
        padding: .8rem 1rem;
        border-radius: 1rem;
        border: 1px solid var(--clr-border-100);
        outline: none;
        transition: border-color .1s ease-in-out;
        background-color: var(--clr-bg-card);
        color: var(--clr-text-color) !important;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        gap: .5rem;
    }

        form input:focus, form select:focus, form textarea:focus {
            border: 1px solid var(--clr-accent);
        }

        form input::placeholder, form select::placeholder, form textarea::placeholder, form select {
            color: var(--clr-text-light) !important;
        }

            form select option:not(:disabled), form select:focus, form select:valid {
                color: var(--clr-text-color);
            }


    form .input-validation-error {
        border-color: var(--red-dark);
    }

    form .field-validation-error {
        position: absolute;
        z-index: 1;
        right: .4rem;
        top: .7rem;
        font-size: .8em;
        background-color: var(--clr-badge-error);
        color: var(--clr-text-error);
        padding: .5rem .5rem;
        border-radius: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }


.wysiwyg {
    padding-bottom: 2.5rem;
    position: relative;
}
.wysiwyg-editor {
    min-height: 8rem;
    width: 100%;
    font-size: 1em;
    font-weight: var(--font-regular);
    font-family: var(--font-standard);
    color: var(--clr-text-color);
    position: relative;
    border: none !important;
    transition: border-color .1s ease-in-out;
}

.ql-editor {
    border: 1px solid var(--clr-border-100);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
    .ql-editor:focus {
        border: 1px solid var(--clr-accent);
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    .ql-editor.ql-blank::before {
        color: var(--clr-text-light);
        font-size: .9rem;
        font-style: normal;
        font-weight: var(--font-regular);
    }

    .ql-snow .ql-stroke {
        stroke: var(--clr-text-color) !important;
    }


.wysiwyg-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid var(--clr-border-100) !important;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--clr-text-medium-light);
}

.budget-input-wrapper {
    position: relative;
}

    .budget-input-wrapper::before {
        content: "\f155";
        font-family: var(--font-fa-pro);
        color: var(--clr-text-color);
        position: absolute;
        left: 1em;
        top: 1em;
        z-index: 10;
    }

.budget-input {
    padding: .5rem 2rem;
    height: 3rem;
}

.date-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.address-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.start-date-container,
.end-date-container {
    position: relative;
}
    .start-date-container i,
    .end-date-container i {
        position: absolute;
        top: 15px;
        right: 50px;
        color: var(--clr-text-color);
        pointer-events: none;
    }

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    width: 3rem;
    height: 100%;
}

/*VALIDATION*/
.field-validation-error {
    font-size: .8em;
    color: var(--clr-error);
}

.input-validation-error {
    border: 1.5px solid var(--clr-error);
}

.error-message {
    display: none;
    color: var(--clr-text-error);
    font-size: .8rem;
    font-weight: var(--font-bold);
}

/* LINKS */
.nav-links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.nav-links > .nav-link {
    font-family: var(--font-standard);
    font-weight: var(--font-semibold);
    text-decoration: none;
    color: var(--navlink-text-color);
    background-color: var(--navlink-bg-color);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: .1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links > .nav-link:hover {
    color: var(--navlink-text-hover-color);
    background-color: var(--navlink-bg-hover-color);
}

.nav-links > .nav-link.active {
    color: var(--navlink-text-active-color);
    background-color: var(--navlink-bg-active-color);
}


/* BUTTONS */
.button {
    border-radius: .8rem;
    font-size: 1rem;
    font-weight: var(--font-semibold);
    font-family: var(--font-standard);
    padding: .7rem 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-decoration: none;
    width: 100%;
}

.btn-blue {
    background-color: var(--clr-accent);
    color: var(--white);
    border: 1px solid var(--clr-border-blue-btn);
    transition: background-color .1s ease-in-out;
}
    .btn-blue:hover {
        background-color: var(--clr-dark-accent);
        color: var(--white);
        border: 1px solid var(--white);
    }

.btn-red {
    background-color: var(--clr-badge-error);
    color: var(--clr-text-error);
    border: 1px solid var(--red-dark);
    transition: background-color .1s ease-in-out;
}

    .btn-red:hover {
        background-color: var(--red-dark);
        color: var(--gray-100);
        border: 1px solid var(--red-dark);
    }

.btn-gray {
    background-color: var(--btn-gray-bg);
    color: var(--clr-text-color);
    border: none;
    padding: 1rem;
    transition: background-color .1s ease-in-out;
}

    .btn-gray:hover {
        background-color: var(--btn-gray-bg-hover);
        color: var(--clr-text-color);
    }

.btn-dark-gray {
    background-color: var(--gray-200);
    color: var(--gray-dark);
    border: 1px solid var(--gray-800);
    padding: 1rem;
    transition: background-color .1s ease-in-out;
}

    .btn-dark-gray:hover {
        background-color: var(--gray-600);
        color: var(--white-100);
    }

.btn-message {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 90%;
}

.btn-add {
    width: auto;
}

.btn-add::before {
    content: '\2b';
    font-family: var(--font-fa-pro);
}

.button-close {
    cursor: pointer;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .button-close::after {
        content: '\f00d';
        font-family: var(--font-fa-pro);
        color: var(--clr-text-light);
    }

    .button-close::after:hover {
        font-family: var(--font-fa-pro);
        color: var(--clr-text-medium-light);
    }


.btn-edit {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--clr-bg-card);
    color: var(--clr-text-medium-light);
}

.btn-remove {
    cursor: pointer;
    color: var(--red-dark);
    border: none;
}

.cookie-btns {
    display: grid;
    gap: 1rem;
}


/* BADGES */
.badge {
    border-radius: 10px;
    display: inline-block;
    padding: .5rem 1rem;
}

.time-wrapper {
    background-color: var(--clr-badge-standard);
    padding: .5rem;
    border-radius: .6em;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--clr-text-medium-light);
}

#cookieConsentIcon {
    font-size: 2rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    color: var(--gray-dark);
}

/*SWITCHES*/
.switch {
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: .5rem;
    cursor: pointer;
    background-color: var(--gray-300);
    transition: .4s;
}

.slider:before {
    position: absolute;
    left: 3px;
    top: 4px;
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transition: .4s;
    background-color: var(--white);
}

.switch input:checked + .slider {
    background-color: var(--clr-accent);
}

.switch input:checked + .slider:before {
    transform: translateX(1.2rem);
}

.cookie-switch input:checked + .slider {
    background-color: var(--clr-accent);
}


/* TAGS */
.form-tag-input {
    font-size: 1em;
    outline: none;
    border: none;
    flex-grow: 1;
    font-weight: 400;
    font-family: var(--font-standard);
    background-color: var(--clr-bg-card);
    color: var(--clr-text-color);
}

.form-tag-input:focus {
    border: none;
}

.form-tag-select.focused,
.search-results.focused,
.main-search-results.focused {
    border: 1px solid var(--clr-accent);
    border-top: none;
    border-radius: 0 0 .8rem .8rem;
}

.form-tag-input::placeholder {
    color: var(--clr-text-light);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-regular);
}


.form-tag-select label,
.form-tag-select i {
    cursor: pointer;
    position: absolute;
    font-size: 1.1em;
    right: 1rem;
    top: 1rem;
}

.search-results,
.main-search-results {
    border: none;
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    z-index: 15;
    color: black;

    display: none;
}

.search-results {
    background-color: var(--clr-bg-card);
}

.main-search-results {
    background-color: var(--clr-bg);
}
.search-item {
    padding: .5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .8em;
    color: var(--clr-text-color);
    justify-content: space-between;
}

    .search-item:hover {
        background-color: var(--clr-accent-10);
        border-radius: .8rem;
    }

    .search-item.active {
        background-color: var(--clr-accent-10);
        border-radius: .8rem;
    }

.user-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-bold);
    color: var(--text-color);
    font-size: .8rem;
}

.tag-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--gray-300);
}
.tag-image-span{
    color: var(--clr-text-color);
    font-size: 1.2rem;

}

.user-tag {
    display: flex;
    background-color: var(--tag-bg);
    color: var(--clr-text-color);
    align-items: center;
    border-radius: .5rem;
    padding: .3rem;
    gap: .5rem;
    font-size: .8rem;
}