@model ClientViewModel

@{
	Layout = "_PortalLayout";
	ViewData["Title"] = Model.Title;
}

@await Html.PartialAsync("Partials/Components/Modals/_AddClientModal", Model.AddClientModel)
@await Html.PartialAsync("Partials/Components/Modals/_EditClientModal", Model.EditClientModel)
@await Html.PartialAsync("Partials/Components/Modals/_DeleteClientModal")

<section id="clients">
	<header class="portal-header">
		<h2>Clients</h2>
		<button type="button" data-modal="true" data-target="#addClientModal" class="button btn-blue btn-add">Add Client</button>
	</header>

	<div class="surface">
		@await Html.PartialAsync("Partials/Sections/_ClientList", Model.Clients)
	</div>
</section>